@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,500,600,700");
:root {
        --brand-color: #026cd1;
        --brand-color-hover:#005cb3;
        --gray: #526471;
        --black: #000000;
        --white: #ffffff;
        --border-color: #ebebeb;
        --red: #df2a43;
        --redish-white: #f5bec6;
        --yellow: #fcc428;
        --yellowish-white: #fff7e3;
        --green: #28a411;
        --greenish-white: #d2fccc;
        --font08: 8px;
        --font09: 9px;
        --font10: 10px;
        --font11: 11px;
        --font12: 12px;
        --font13: 13px;
        --font14: 14px;
        --font15: 15px;
        --font16: 16px;
        --font17: 17px;
        --font18: 18px;
        --font19: 19px;
        --font20: 20px;
        --font21: 21px;
        --font22: 22px;
        --font23: 23px;
        --font24: 24px;
      }
*{
        margin: 0px;
        padding: 0px;
}
html, body, #root, #root>div {
        height: 100%
      }
body {
        font-family: "Open Sans", sans-serif;
        font-size: var(--font14);
        font-weight: 500; 
}

/* >>>>> Error Page ----------*/
.errorPage {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
}
.errorPage .errorContent {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.errorPage .errorContent img{
        width: 400px;
}